{% extends "layout.html" %}
{% block content %}
<body>
    <div class="content-centre">
<!--         <div class="photoframe">
            <img src="/static/img/tom.jpg" width="200" height="150">
        </div>
        <div class="about-text">
            <p>Tom lives in sunny Somerset with his beautiful fiance, Luci, and their little dog, Milo.<br> When he's not playing or teaching music, or selling or repairing brass instruments, he's probably playing or watching cricket or spending time with family.</p>
        </div> -->
    
    <div class="about-container">
        <p>About Tom</p>
        <p>From a very young age, music has been a passion of Tom’s. A tuba player who has represented Great Britain in the National Youth Orchestra, performing all over the country and even playing at the BBC Proms. Tom studied at the Royal Academy of Music, and in that time worked with some of the world’s leading conductors and sharing a stage with Elton John. Now back in Somerset, Tom spends his spare time performing with street bands and jazz bands as a tuba/sousaphone player, playing cricket and walking his dog, Milo.</p>
    </div>
    </div>
</body>
{% endblock %}